@model User

@{
    ViewData["Title"] = "EditUser";
    Layout = "_Layout2";
}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="EditUser">Admin / Edit User</a></li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit User</h5>
                        <form asp-controller="Admin" asp-action="EditUser" method="post">
                            <input type="hidden" asp-for="Id" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Enrollments" class="control-label"></label>
                                <div class="col-sm-10">
                                    <select class="multiple-select" name="SelectedEnrollments" multiple="multiple">
                                        @foreach (var enrollment in Model.Enrollments)
                                        {
                                            if (Model.Enrollments.Any(e => e.Id == enrollment.Id))
                                            {
                                                <option value="@enrollment.Id" selected>@enrollment.Course.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@enrollment.Id">@enrollment.Course.Title</option>
                                            }
                                        }
                                    </select>
                                    @* <input asp-for="Enrollments" class="form-control"/>
                                    <span asp-validation-for="Enrollments" class="text-danger"></span> *@
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div>
    <a asp-action="Users">Back to List</a>
</div>
@section Scripts {
    @* @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } *@
    <script>
        $(document).ready(function () {
            $('.multiple-select').select2();
        });
    </script>
}
